/* .homeContainer {
  position: relative;
  top: 120px;
} */

.homeTextContainer {
  margin: 5%;
}

.intro {
  color: #62f9d5;
  margin-bottom: 0;
}

.name {
  color: #ccd6f6;
  /* font-family: Calibre; */
  font-size: 80px;
  font-weight: 600;
  line-height: 88px;
  margin-top: 0;
  margin-bottom: 0;
}

.job {
  color: #8892b0;
  font-size: 80px;
  font-weight: 600;
  line-height: 72px;
  margin-top: 0;
  margin-bottom: 0;
}

.profile {
  display: none;
}
.wave {
  width: 100%;
  height: 37.8vh;
}
@media all and (max-width: 480px) {
  .homeContainer {
    width: 100%;
    height: 80vh;
    display: flex;
    margin: 0;
    position: relative;
    top: 100px;
    /* justify-content: center; */
    /* align-items: center; */
  }
  /* .homeTextContainer {
    padding-top: 5%;
  } */

  .name {
    font-size: 40px;
    line-height: 44px;
  }
  .job {
    font-size: 40px;
    line-height: 36px;
  }
  .profile {
    display: inline;
    width: 100%;
    padding-top: 10vh;
  }
  .wave {
    display: none;
  }
}
